@page "/signup"

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using Frontend.Data
@using Microsoft.EntityFrameworkCore
@using WebApp.Filters

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Register> Logger
@inject NavigationManager NavigationManager

<PageTitle>Sign up</PageTitle>


<section class="signup">
    <div class="container">

        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <div class="alert alert-danger">
                @ErrorMessage
            </div>
        }

        <EditForm Model="Input" asp-route-returnUrl="@ReturnUrl" method="post" OnValidSubmit="RegisterUser" FormName="signup" novalidate>
            <DataAnnotationsValidator />
            
            <h1>Create Account</h1>
            <p>Already have an account? <a href="/signin">Sign in here</a>.</p>

            <div class="form-content">

                <div id="form-firstname" class="input-group">
                    <div class="text-flex">
                        <label>First name</label>
                        <ValidationMessage For="() => Input.FirstName" />
                    </div>
                    <InputText @bind-Value="Input.FirstName" class="form-control" autocomplete="givenname" aria-required="true" placeholder="Enter your first name" />

                </div>

                <div id="form-lastname" class="input-group">
                    <div class="text-flex">
                        <label>Last name</label>
                        <ValidationMessage For="() => Input.LastName" />
                    </div>
                    <InputText @bind-Value="Input.LastName" class="form-control" autocomplete="surname" aria-required="true" placeholder="Enter your last name" />
                </div>

                <div id="form-email" class="input-group">
                    <div class="text-flex">
                        <label>Email</label>
                        <ValidationMessage For="() => Input.Email" />
                    </div>
                    <InputText type="email" @bind-Value="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="Enter your email" />
                </div>

                <div id="form-password" class="input-group">
                    <div class="text-flex">
                        <label>Password</label>
                        <ValidationMessage For="() => Input.Password" />
                    </div>
                    <InputText type="password" @bind-Value="Input.Password" class="form-control" autocomplete="password" aria-required="true" placeholder="Enter your password" />
                </div>

                <div id="form-confirmpassword" class="input-group">
                    <div class="text-flex">
                        <label>Confirm Password</label>
                        <ValidationMessage For="() => Input.ConfirmPassword" />
                    </div>
                    <InputText type="password" @bind-Value="Input.ConfirmPassword" class="form-control" autocomplete="confirm" aria-required="true" />
                </div>

                <div id="form-checkbox" class="checkbox-group">
                    <div class="text-flex">
                        <InputCheckbox type="password" @bind-Value="Input.TermsAndConditions" class="form-control" autocomplete="terms" aria-required="true" placeholder="Confirm your password" />
                        <label>I accept the Terms and conditions</label>
                    </div>
                    <ValidationMessage For="() => Input.TermsAndConditions" />
                </div>
                <div id="form-button">
                    <button class="btn btn-theme" type="submit"><i class="fa-regular fa-arrow-left-to-bracket"></i>Sign up</button>
                </div>
            </div>
        </EditForm>

    </div>
</section>








@code {

    private string? ErrorMessage { get; set; }

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }


    public async Task RegisterUser(EditContext editContext)
    {

        var user = new ApplicationUser
        {
            FirstName = Input.FirstName,
            LastName = Input.LastName,
            UserName = Input.Email, 
            Email = Input.Email 
        };

        if (await UserManager.Users.AnyAsync(x => x.Email == user.Email))
        {
            ErrorMessage = "Email is alreay in use!";
            return;

        }

        var result = await UserManager.CreateAsync(user, Input.Password);

        if (!result.Succeeded)
            return;

      
 
        if (UserManager.Options.SignIn.RequireConfirmedAccount)
        {
            NavigationManager.NavigateTo($"/confirm?email={user.Email}");
        }

        await SignInManager.SignInAsync(user, isPersistent: false);
        NavigationManager.NavigateTo(ReturnUrl ?? "/");
    }






    private sealed class InputModel
    {
        [Required]
        [Display(Name = "First name")]
        public string FirstName { get; set; } = null!;

        [Required]
        [Display(Name = "Last name")]
        public string LastName { get; set; } = null!;


        [Required]
        [EmailAddress]
        [Display(Name = "Email")]
        [RegularExpression(@"^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$", ErrorMessage = "Incorrect email format.")]
        public string Email { get; set; } = "";

        [Required]
        [RegularExpression(@"(?!^[0-9]*$)(?!^[a-zA-Z]*$)^([a-zA-Z0-9]{8,})$", ErrorMessage = "Incorrect password format.")]
        [DataType(DataType.Password)]
        [Display(Name = "Password")]
        public string Password { get; set; } = "";

        [DataType(DataType.Password)]
        [Display(Name = "Confirm password")]
        [Compare("Password", ErrorMessage = "The password and confirmation password do not match.")]
        public string ConfirmPassword { get; set; } = "";

        [CheckboxRequired(ErrorMessage = "You must agree to the terms & conditions.")]
        [Display(Name = "Terms & Conditions.")]
        public bool TermsAndConditions { get; set; }
    }
}
