@import 'scss/core/fonts.scss';
@import 'scss/core/varables.scss';
@import 'scss/core/mixins.scss';
@import 'scss/core/common.scss';

@import 'scss/components/typography.scss';
@import 'scss/components/alerts.scss';
@import 'scss/components/buttons.scss';
@import 'scss/components/links.scss';
@import 'scss/components/containers.scss';
@import 'scss/components/forms.scss';

@import 'scss/sections/account_details.scss';
@import 'scss/sections/account_profile.scss';
@import 'scss/sections/courses.scss';
@import 'scss/sections/download_app.scss';
@import 'scss/sections/features.scss';
@import 'scss/sections/footer.scss';
@import 'scss/sections/header.scss';
@import 'scss/sections/integrate_tools.scss';
@import 'scss/sections/lightdark.scss';
@import 'scss/sections/manage_work.scss';
@import 'scss/sections/showcase.scss';
@import 'scss/sections/signin.scss';
@import 'scss/sections/signup.scss';
@import 'scss/sections/subscribe_to_newsletter.scss';
@import 'scss/sections/_chat.scss';


#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
