@inherits LayoutComponentBase
@layout AccountLayout



<section class="account-details">
    <div class="container">
        <aside class="left-profile">
            <Frontend.Components.Sections.AccountProfileAvatar user="user"/>
            
        </aside>
        <div class="content">
            @Body
        </div>

    </div>
</section>

@code {

    [CascadingParameter]
    private ApplicationUser user { get; set; } = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await LoadUserDataAsync();

    }

    private async Task LoadUserDataAsync()
    {
        user = await UserManager.GetUserAsync(HttpContext.User) ?? null!;
    }

}