.signup {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        width: 40%;

        form {



            .form-content {
                margin-top: 30px;
                display: grid;
                gap: 20px;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "firstname lastname" "email email" "password confirm" "terms terms" "submit submit";


                
            }

            .input-group {
               
                
                input {
                    display: block;
                }
                label {
                   
                    padding: 3px;
                }
            }

            .checkbox-group {
                margin-top: 10px;
                margin-bottom: 30px;
            }


            #form-firstname {
                grid-area: firstname;
            }

            #form-lastname {
                grid-area: lastname;
            }

            #form-email {
                grid-area: email;
            }

            #form-password {
                grid-area: password;
            }

            #form-confirmpassword {
                grid-area: confirm;
            }

            #form-checkbox {
                grid-area: terms;
                padding: 1rem 0;
            }

            #form-button {
                grid-area: submit;
            }
        }
    }
}
